<style>
  .cardInner {
    display: grid;
    grid-template-areas: "header header header" "side content side2" "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-column-start: auto;
    grid-row-gap: 32px;
    grid-column-gap: 25%;
  }
  .followerTable {
    border: 1px solid gray;
    border-radius: 25px;
    float: left;
    alignment: center;
    margin: 10px;
  }
  .followingTable {
    border: 1px solid gray;
    border-radius: 25px;
    float: left;
    alignment: center;
    margin: 10px;
  }
  .example-viewport {
    height: 200px;
    width: 300px;
  }
  .kweet {
    border: 2px solid gray;
    background: white;
    max-width: 700px;
    margin: 4px
  }
  .kweetPhoto {
    margin-left: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
  }
  #parent {
    display: flex;
  }
  #middle {

  }
  #left {
    width: 25%
  }
  #right {

    margin-left: 10%
  }
</style>

<div class="cardInner">
  <div id="parent" [style.grid-area]="'header'">
    <h1 id="left"></h1>
    <h1 id="middle" class="ant-col-6">{{selectedUser.userName}} </h1>
    <img id="right" class="ant-col-8" src = "{{selectedUser.photo}}">
  </div>
  <div [style.grid-area]="'side2'">
    <div>
      <body>
      <table class="followerTable">
        <tr style="border: 1px solid gray">
          <th>Followers</th>
        </tr>
        <tr *ngFor="let follower of selectedUser.actualFollowers">
          <td>{{ follower.userName}}</td>
        </tr>
      </table>
      <table class="followingTable">
        <tr style="border: 1px solid gray">
          <th>Following</th>
        </tr>
        <tr *ngFor="let follower of selectedUser.actualFollowing">
          <td>{{ follower.userName}}</td>
        </tr>
      </table>
      </body>
    </div>
  </div>
  <div [style.grid-area]="content" style="background: white; border-radius: 25px; width: 200%; text-align: center">
    <h3>location: {{selectedUser.location}}</h3>
    <h3>website: {{selectedUser.website}}</h3>
    <h3>email: {{selectedUser.email}}</h3>
    <h3>bio:</h3>
    <p>{{selectedUser.bio}}</p>
    <button (click)="followUser()">Follow</button>
  </div>
  <div [style.grid-area]="'side'">
    <div>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list role="list" *ngFor="let kweet of kweets">
          <mat-card role="listitem" class="kweet">
            <mat-icon>
              <img class="kweetPhoto" src = "{{kweet.author.photo}}">
            </mat-icon>
            <mat-card-title>{{kweet.author.userName}}</mat-card-title>
            <mat-card-subtitle>{{kweet.showDate | date:'MM/dd/yyyy @ h:mma'}}</mat-card-subtitle>
            <mat-card-content>{{kweet.message}}</mat-card-content>
            <mat-card-actions *ngIf="kweet.author.id">
              <button>like</button>
            </mat-card-actions>
          </mat-card>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div [style.grid-area]="'footer'" style="background: white; border-radius: 25px; text-align: center">

    <div>
      <h2>followers: {{selectedUser.followers.length}}    following: {{selectedUser.following.length}}</h2>
      <h2>kweets: {{kweets.length}}</h2>
    </div>

  </div>
</div>





